#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-body {
  text-align: left;
}

.card-body h1 {
  font-weight: 100;
  font-size: 30px;
  margin-bottom: -5px;
}

.card p {
  font-size: 12px;
  border-bottom: solid black 1px;
  padding-bottom: 10px;
}

.card-body h1,
p {
  color: black;
}

h1,
h2,
h3 {
  color: black;
}

.checkbox {
  text-align: left;
  padding: 10px 0;
  border-bottom: solid rgb(0, 0, 0, 0.25) 1px;
}

.checkbox input {
  color: white;
}

.checkbox label {
  color: black;
}

.timer h1 {
  font-size: 37px;
  margin-bottom: -18px;
}

.timer h3 {
  text-align: left;
  padding: 0px 2px;
}

.read-the-docs {
  color: #888;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
