:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(4, 4, 4, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 10em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #077dde;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
}
button:active {
  background-color: red;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


